<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vidka.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vidka.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Vidka.Core.Properties.Settings>
            <setting name="ErrorLogFilename" serializeAs="String">
                <value>zerror.log</value>
            </setting>
            <setting name="ProjBackupFile" serializeAs="String">
                <value>zProjBackup.xml</value>
            </setting>
            <setting name="DataNearProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileExtensionsVideo" serializeAs="String">
                <value>.avi|.mp4|.mov|.mts|.mkv</value>
            </setting>
            <setting name="FileExtensionsAudio" serializeAs="String">
                <value>.wav|.mp3|.ogg</value>
            </setting>
            <setting name="mencoderArguments" serializeAs="String">
                <value>-ovc xvid -xvidencopts bitrate=16000:me_quality=1:rc_reaction_delay_factor=100:rc_averaging_period=16:rc_buffer=100:quant_type=h263:min_iquant=1:max_iquant=31:min_pquant=1:max_pquant=31:min_bquant=1:max_bquant=31:max_key_interval=250:quant_type=h263:max_bframes=2:bquant_ratio=150:bquant_offset=100:bf_threshold=0:vhq=2:bvhq=1:curve_compression_high=0:curve_compression_low=0:overflow_control_strength=10:max_overflow_improvement=10:max_overflow_degradation=10:trellis:noqpel:nogmc:nocartoon:chroma_opt:chroma_me:nointerlacing:par=ext:par_width=1:par_height=1:closed_gop:nopacked:threads=8 -vf scale,format=i420 -forcedsubsonly -nosub -oac mp3lame -mc 0 "{file-avs}" -of avi -o "{file-video}"</value>
            </setting>
            <setting name="ExportVideoExtension" serializeAs="String">
                <value>.avi</value>
            </setting>
            <setting name="RightTrimMarkerOffsetSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ImageClipLengthSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FileExtensionsImage" serializeAs="String">
                <value>.jpg|.jpeg|.gif|.bmp|.tiff</value>
            </setting>
            <setting name="TextClipInitialLengthSeconds" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="mencoderArgumentsRaw" serializeAs="String">
                <value>-ovc raw -vf scale,format=i420 -forcedsubsonly -nosub -oac pcm -mc 0 "{file-avs}" -of avi -o "{file-video}"</value>
            </setting>
            <setting name="VDubRawConcatScriptTemplate" serializeAs="String">
                <value>App_data/vdub_append_save-h264-20.vdscript</value>
            </setting>
            <setting name="SecondsMplayerPreview" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SecondsMplayerPreview2" serializeAs="String">
                <value>15</value>
            </setting>
        </Vidka.Core.Properties.Settings>
    </applicationSettings>


    <userSettings>
        <Vidka.Core.Properties.Settings>
            <setting name="RawVideoDumpFolder" serializeAs="String">
                <value>F:\_poligon</value>
            </setting>
        </Vidka.Core.Properties.Settings>
    </userSettings>
</configuration>